<p style="color: green"><%= notice %></p>

<h1>List of Schools</h1>

<div id="schools">
  <% @schools.each do |school| %>
    <%= render school %>
    <p>
      <%= link_to "Show this school", school %>
    </p>
  <% end %>
</div>

<% if current_user.admin? %>
  <%= link_to "Add School", new_school_path %>
<% end %>
