<h1>Editing Course</h1>

<%= render "form", course: @course %>

<br>

<div>
  <%= link_to "Show this course", new_school_course_path %> |
  <%= link_to "Back to courses", school_courses_path %>
</div>
